$primary-color:#161a1d;
$secondary-color:#a4161a;

header {
    
}

footer {
    padding:10%;
    background-color:#161a1d;
    display:flex;
    justify-content: center;
    align-items: center;
    img {
        height: auto;
        width:15%;
    }
}




@media (min-width:768px){
    header {
        nav{
            padding:3%;
        }
    }
    
   
}


@media (min-width:1024px){
    header {
        nav{
            padding:2%;
        }
    }
    
}