@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
$primary-color:#161a1d;
html,body {
    margin:0;
    padding:0;
    min-height:100vh;
    font-size:16px;
    font-family: 'Sora', sans-serif;
    color:$primary-color;
}
