<main>
  <section class="header">

  </section>

  <div class="desktop">
    <section class="input">
      <div [ngClass]="{ fixed: isSticky }" class="desktop-scroll">
        <h2>Search</h2>
        <!-- Search by ingredients -->
        <input
          required=""
          type="text"
          *ngIf="change"
          [@fadein]
          placeholder="Enter some ingredients"
          [(ngModel)]="ingredients"
        />

        <!-- Search by name of food -->
        <input
          type="text"
          required=""
          *ngIf="!change"
          [@fadein]
          placeholder="Enter the name of a food e,g, Burger, Pizza, Pie"
          [(ngModel)]="main"
        />

        <!-- Exclude ingredients -->
        <input
          type="text"
          required=""
          id="exclude"
          *ngIf="ext"
          [@fadein]
          placeholder="Excluded ingredients e,g coconut,apple"
          [(ngModel)]="exclude"
        />

        <!-- Diet -->
        <select
          *ngIf="ext"
          id="diet"
          [(ngModel)]="diet"
          [@fadein]
        >
          <option id="selected" selected value="">Diet</option>
          <option>vegetarian</option>
          <option>vegan</option>
        </select>

        <!-- Intolerances -->
        <select
          *ngIf="ext"
          class="form-control custom-select"
          id="intol"
          [(ngModel)]="intol"
          [@fadein]
        >
          <option class="selected" selected value="" >Intolerances</option>
          <option>Egg</option>
          <option>Gluten</option>
          <option>Dairy</option>
          <option>Wheat</option>
          <option>Peanut</option>
          <option>Sesame</option>
          <option>Seafood</option>
          <option>Shellfish</option>
          <option>Soy</option>
          <option>Sulfite</option>
          <option>Tree nut</option>
        </select>

        <!-- number of search -->
        <select id="num" [(ngModel)]="number">
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
        </select>
        <div class="buttons">
          <button
            (click)="getByIngredients()"
            *ngIf="change"
            type="button"
            class="submit"
            [disabled]="!ingredients"
          >
            Submit
          </button>
          <button
            (click)="getBySearch()"
            *ngIf="!change"
            type="button"
            [disabled]="!main"
            class="submit"
          >
            Submit
          </button>
          <button
            (click)="changeSearch()"
            *ngIf="change"
            type="button"
          >
            Search by recipe
          </button>

          <button
          (click)="extra()"
          *ngIf="!ext && !change"
          type="button"
          id="extraButton"
        >
          Extra requirements
        </button>

          <button
            (click)="changeSearch()"
            *ngIf="!change"
            type="button"
          >
            Search by ingredients
          </button>
         
        </div>
      </div>
    </section>
    <section class="cards">
      <hr />
      <div class="loader" *ngIf="loading"></div>
      <h1 *ngIf="!check">Search for a recipe to get started.</h1>
      <h1 *ngIf="error">{{error}}</h1>
      <article class="card" [@fadein] *ngFor="let recipe of recipes">
        <img class="card-img-top recipeImg" *ngIf="ingreServ"  src="{{ recipe.image }}" />
          <img class="card-img-top recipeImg" *ngIf="!ingreServ" src="https://spoonacular.com/recipeImages/{{ recipe.image }}" />
        <div class="card-body">
          <h2>{{ recipe.title | slice: 0:15 }}</h2>
          <span>
            <button routerLink="/details/{{ recipe.id }}">Head to the recipe</button>
          </span>
        </div>
      </article>
    </section>
  </div>
</main>
