$primary-color:#161a1d;
$secondary-color:#a4161a;

main {
  .desktop {
    display: none;
  }
  .recipe {
    article {
      padding: 4%;

      .img-wrapper {
        display: contents;
      }

      h1 {
        font-size: 1.5em;
      }
      img {
        width: 100%;
        height: auto;
      }

      .text {
        padding: 10% 0;
        display: flex;
        flex-direction: column;

        hr {
          margin: 20% 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .recipe {
      article {
        padding: 2% 8% 2% 4%;

        h1 {
          font-size: 2em;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {

    display: flex;
    flex-direction: row;
    .desktop{
      display: block;
      padding:2%;
      width:20%;
      background-color:$primary-color;
    }
    .recipe {
      width:80%;
      article {
        padding: 4% 8%;

        .img-wrapper {
          display: block;
          padding: 0 30% 20% 0;
        }

        .text {
          padding:0 0 5% 0;
          display: flex;
          flex-direction: column;

          hr {
            margin: 15% 0;
          }
        }
      }
    }
  }
}

.loader {
  width: 60px;
  height: 60px;
  background: transparent;
  border: 10px solid transparent;
  border-top-color: #f56;
  border-left-color: #f56;
  border-radius: 50%;
  animation: loader 0.75s infinite ease forwards;
  margin-left: 45%;
  margin-top: 10%;
  margin-bottom: 100vh;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
