<main>
  <div class="loader" *ngIf="loading"></div>
  <div  *ngIf="!loading"class="desktop"></div>
  <section class="recipe" *ngIf="!loading">
    <article *ngFor="let details of recipe">
      <h1>{{ details.title }}</h1>
      <span class="img-wrapper">
        <img src="{{ details.image }}" alt="img" srcset="" />
      </span>
      <section class="text">
        <h2>Ingredients</h2>
        <div
          class="ingredients"
          *ngFor="let ingredients of details.extendedIngredients"
        >
          <p id="text">{{ ingredients.originalString }}</p>
        </div>
        <hr />
        <h2>Instructions</h2>
        <div *ngFor="let step of instructions.steps">
          <h3>Step {{ step.number }}</h3>
          <p id="text">{{ step.step }}</p>
        </div>
      </section>
    </article>
  </section>
</main>
